[Desktop Entry]
Name[cs]=Foliate
Name[de]=Foliate
Name[es]=Foliate
Name[eu]=Foliate
Name[fr]=Foliate
Name[id]=Foliate
Name[ie]=Foliate
Name[it]=Foliate
Name[nb]=Foliate
Name[nl]=Foliate
Name[nn]=Foliate
Name[pt_BR]=Foliate
Name[sv]=Foliate
Name[uk]=Foliate
Name[zh_CN]=Foliate
Name[zh_TW]=Foliate
Name=Foliate
GenericName[cs]=Prohlížeč elektronických knih
GenericName[de]=eBook Reader
GenericName[es]=Visor de libros electrónicos
GenericName[eu]=liburu elektronikoen ikustailea
GenericName[fr]=Lecteur de livres électroniques
GenericName[id]=Pemirsa eBook
GenericName[ie]=Visor de eLibres
GenericName[it]=Visualizzatore di eBook
GenericName[nb]=E-bok Fremviser
GenericName[nl]=eBook-lezer
GenericName[nn]=E-bok Framsynar
GenericName[pt_BR]=Visualizador de e-Book
GenericName[ru]=Читалка электронных книг
GenericName[sv]=E-bokvisare
GenericName[uk]=Переглядач електронних книг
GenericName[zh_CN]=电子书查看器
GenericName[zh_TW]=電子書閱讀器
GenericName=eBook Viewer
Comment[cs]=Prohlížet elektronické knihy
Comment[de]=eBooks anzeigen
Comment[es]=Ver libros electrónicos
Comment[eu]=Ikusi liburu elektronikoak
Comment[fr]=Voir les livres électroniques
Comment[id]=Lihat eBook
Comment[ie]=Leer eLibres
Comment[it]=Visualizza eBook
Comment[nb]=Vis e-bøker
Comment[nl]=Lees e-boeken
Comment[nn]=Vis e-bøker
Comment[pt_BR]=Ver e-Books
Comment[ru]=Читать электронные книги
Comment[sv]=Visa e-böcker
Comment[uk]=Переглянути електронні книги
Comment[zh_CN]=阅读电子书
Comment[zh_TW]=閱讀電子書
Comment=View eBooks
Categories=Office;Viewer;
MimeType=application/epub+zip;application/x-mobipocket-ebook;application/vnd.amazon.mobi8-ebook;application/x-fictionbook+xml;application/x-zip-compressed-fb2;application/vnd.comicbook+zip;application/vnd.comicbook-rar;application/x-cb7;application/x-cbt;x-scheme-handler/opds;
Exec=env LC_TIME=en_US.UTF-8 LC_NUMERIC=en_US.UTF-8 flatpak --user run com.github.johnfactotum.Foliate %U
Icon=com.github.johnfactotum.Foliate
Terminal=false
Type=Application
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[cs]=Elektronická kniha;Kniha;EPUB;Prohlížeč;Čtečka;
Keywords[de]=EBook;Buch;EPUB;Betrachter;Reader;
Keywords[es]=Ebook;Libro;EPUB;Visor;Lector;
Keywords[eu]=Ebook;Liburu;EPUB;Ikustailea;Irakurgailua;
Keywords[fr]=Ebook;Livre;EPUB;Liseuse;Lecteur;
Keywords[id]=Ebook,Buku,EPUB,Pemirsa,Pembaca;
Keywords[ie]=Ebook;Elibre;Libre;EPUB;Visor;Letor;
Keywords[it]=Ebook;Book;EPUB;Viewer;Reader;libri;visualizzatore;lettore;
Keywords[nb]=E-bok;Bok;EPUB;Fremviser;Leser;
Keywords[nl]=E-boek;Boek;EPUB;Lezer;Bekijken;
Keywords[nn]=E-bok;Bok;EPUB;Framsynar;Lesar;
Keywords[pt_BR]=Ebook;Book;EPUB;Viewer;Reader;
Keywords[ru]=Книга;Книги;EPUB;Читалка;
Keywords[sv]=E-bok;Bok;EPUB;Visare;Läsare;
Keywords[uk]=Е-книга;Книга;EPUB;Переглядач;Читач;
Keywords[zh_CN]=Ebook;Book;EPUB;Viewer;Reader;电子书;图书;EPUB;查看器;阅读器;
Keywords[zh_TW]=Ebook;Book;EPUB;Viewer;Reader;電子書;書;檢視器;閱讀器;
Keywords=Ebook;Book;EPUB;Viewer;Reader;
Actions=new-window;
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;

[Desktop Action new-window]
Name[cs]=Knihovna
Name[de]=Bibliothek
Name[es]=Biblioteca
Name[eu]=Biblioteka
Name[fr]=Bibliothèque
Name[ie]=Biblioteca
Name[it]=Libreria
Name[nb]=Bibliotek
Name[nl]=Bibliotheek
Name[nn]=Bibliotek
Name[pt_BR]=Biblioteca
Name[ru]=Библиотека
Name[sv]=Bibliotek
Name[uk]=Бібліотека
Name[zh_CN]=书库
Name[zh_TW]=書庫
Name=Library
Exec=env LC_TIME=en_US.UTF-8 LC_NUMERIC=en_US.UTF-8 flatpak --user run com.github.johnfactotum.Foliate --library
