[Desktop Entry]
Version=1.0
Name=Qemu Debian
GenericName=Qemu Debian
GenericName[ru]=Qemu Debian
Comment=Qemu Debian
Comment[ru]=Qemu Debian
Exec=qemu-system-x86_64 -cpu host -smp 4 -machine type=pc,accel=kvm -boot order=d -drive file=debian,format=qcow2 -m 2G -device nec-usb-xhci -device usb-host,hostbus=3,hostport=4
# you can get hostbus, hostport from /usr/bin/lsusb.py
# or you can refer by hostbus, hostaddr from /usr/bin/lsusb
# remember to allow access via /etc/udev/rules.d/
StartupNotify=true
Terminal=false
Icon=debian.png
Type=Application
Categories=Emulator;
