[Desktop Entry]
Version=1.0
Name=PulseAudio Volume control
GenericName=Volume Control
Comment=Set up sound settings
Exec=/opt/pavucontrol.sh
Terminal=false
Icon=org.gnome.Music
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;Mixer;GTK;
