[Desktop Entry]
X-SnapInstanceName=chromium
Version=1.0
Name=MS To-Do
Name[ru]=MS To-Do
GenericName[ru]=Веб-браузер
Comment=Access the Internet
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/chromium_chromium.desktop /snap/bin/chromium https://to-do.microsoft.com %U
Terminal=false
Type=Application
Icon=org.gnome.Todo
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
