[Desktop Entry]
Version=1.0
Name=MS To-Do
# This file including comments below is a copy of chromium.desktop
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=MS To-Do
GenericName[ru]=MS To-Do
Comment=MS To-Do
Comment[ru]=MS To-Do
Exec=/usr/bin/chromium https://to-do.microsoft.com %U
StartupNotify=true
Terminal=false
Icon=org.gnome.Todo
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=new-window;

Name[en_US]=MS To-Do
Comment[en_US]=MS To-Do

[Desktop Action new-window]
Name=New Window
Name[ru]=Новое окно
Exec=/usr/bin/chromium https://to-do.microsoft.com
