ATTRS{manufacturer}=="Panasonic", DRIVERS=="usb", SUBSYSTEMS=="usb", ATTRS{idVendor}=="04da", ATTRS{idProduct}=="*", MODE="0666"
ATTRS{idVendor}=="04da", ATTRS{idProduct}=="0f0b", MODE="0666", GROUP="scanner", ENV{libsane_matched}="yes"
